.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 40px;
  padding-left: 200px;
}

h1 {
  font-size: 30pt;
}

.QueryForm {
  justify-content: flex-start;
  width: 40%;
}

.QueryInput {
  width: 100%;
}

.vertical-form-input {
  width: 100%;
  padding: 12px 20px;
  font-size: 16pt;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.vertical-form-button {
  width: 10%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.QueryResponse {
  width: 100%;
  margin-top: 50px;
}

.query-response-text {
  width: 98%;
  height: 500px;
  margin-top: 5px;
  border-radius: 4px;
  padding: 12px;
  font-size: 12pt;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
